@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>this is a program made with educational purpose only, but it's almost full usable and ready to deploy, if you saw this and enjoyed please enter in contact with Us.</p>
