@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brasília<br />
    <abbr title="Phone">P:</abbr>
    +55 (61) 99559-9415
</address>

<address>
    <strong>Support:</strong> <a href="mailto:calangosoft@gmail.com">calangosoft@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:calangosoft@gmail.com">calangosoft@gmail.com</a>
</address>
