@model UnBCineFlix.Models.MovieTheater

<table>
    @for (int i = 0; i < Model.QtdRow; i++)
    {
        <tr style="height:36px;">
            @for (int j = 0; j < Model.QtdCol; j++)
            {
                <td style="width:70px;">
                    @if (Model.GetArrayChair(i, j) != null)
                    {
                        if (Model.GetArrayChair(i, j).Status == false)
                        {
                            <i class="fas fa-couch" style="font-size:36px; color:green"><br />  @((char)(i + 65))@(j + 1) </i>
                        }
                        else
                        {
                            <i class="fas fa-couch" style="font-size:36px;"><br />  @((char)(i + 65))@(j + 1) </i>
                        }

                    }
                </td>
            }
        </tr>
    }
</table>
