@model UnBCineFlix.Models.MovieTheater

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MovieTheater</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieTheaterNumber" />
            <div class="form-group">
                <label asp-for="MovieTheaterNumber" class="control-label"></label>
                <input asp-for="MovieTheaterNumber" class="form-control" />
                <span asp-validation-for="MovieTheaterNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdRow" class="control-label"></label>
                <input asp-for="QtdRow" class="form-control" />
                <span asp-validation-for="QtdRow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdCol" class="control-label"></label>
                <input asp-for="QtdCol" class="form-control" />
                <span asp-validation-for="QtdCol" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="AddressCompanyId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
