@model UnBCineFlix.Models.Session

@{
    ViewData["Title"] = "Buy Ticket";
}

<h2>Buy Ticket</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        @{
            await Html.RenderPartialAsync("../Sessions/_Details", Model);
        }
    </dl>
</div>
